@model ChangePasswordViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Şifre Değiştir</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Panel</a></li>
                    <li class="breadcrumb-item active">Şifre Değiştir</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                    </div>
                    <form method="post" action="PasswordChange">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Username">Kullanıcı Adı</label>
                                <input type="text" asp-for="Username" class="form-control" value="@ViewBag.userName" readonly>
                            </div>
                            <div class="form-group">
                                <label asp-for="CurrentPassword">Şifreniz</label>
                                <input asp-for="CurrentPassword" class="form-control" autocomplete="off">
                                <span class="text-danger" asp-validation-for="CurrentPassword"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword">Yeni Şifre</label>
                                <input asp-for="NewPassword" class="form-control">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Yeni Şifre Tekrar</label>
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
                            <a asp-action="Dashboard" asp-controller="Home" asp-area="Panel" class="btn btn-info">Panele Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>