@model OrderViewModel
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6"> @Model.OrderNumber</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">404</li>
    </ol>
</div>