@{
    ViewData["Title"] = "NotFound404";
}

<style>


    .error-container {
        text-align: center;
    }

    .error-code {
        font-size: 120px;
        font-weight: bold;
        color: #dc3545;
    }

    .error-text {
        font-size: 24px;
        margin-bottom: 20px;
    }
</style>
<div class="error-container">
    <div class="error-code">404</div>
    <div class="error-text">Üzgünüz, aradığınız sayfa bulunamadı.</div>
    <a href="/" class="btn btn-secondary">Ana Sayfaya Dön</a>
    <br />
    <a href="/panel" class="btn btn-danger mt-2">Panele Dön</a>
</div>