@model CategoryViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/panel/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/panel/dist/css/adminlte.min.css">


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Düzenle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/panel">Panel</a></li>
                    <li class="breadcrumb-item active">Düzenle</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                    </div>
                    <form method="post" action="Update">

                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Id">Id</label>
                                <input type="text" asp-for="Id" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Title">Kategori Adı</label>
                                <input type="text" asp-for="Title" class="form-control" placeholder="Kategori Adı" maxlength="100" required>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Düzenle</button>
                            <a asp-action="GetAll" asp-controller="AdminCategory" asp-area="Panel" class="btn btn-info">Kategorileri Gör</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
